cross_native
cross_upstream
cross_native.dSYM/
tests/cross/out_*.txt
parser
parser_upstream
parser.wasm
parser.dSYM/
*.o
tests/output/
tests/*.mlir2
tests/*.ttir2
parser.native.bak
compiler_tester/__pycache__/
/tinyc
/tinyc.exe
/tinyc.wasm
/tinyc_native
/runtime_wasm.wasm.o
/start_wasm.wasm.o
/tinyc_wasm_vararg.wasm.o
/tinyc_stage2.wasm
/tinyc_stage3.wasm
/stage2/
/stage3/
/tinyc_stage1_macho
/tinyc_stage2_macho
/tinyc_stage3_macho
/selfhost_macho_stage1/
/selfhost_macho_stage2/
/selfhost_macho_stage3/
/tinyc_stage1_macho_wmir
/tinyc_stage2_macho_wmir
/tinyc_stage3_macho_wmir
/selfhost_macho_wmir_stage1/
/selfhost_macho_wmir_stage2/
/selfhost_macho_wmir_stage3/
/tinyc_stage1_macho_llvm
/tinyc_stage2_macho_llvm
/tinyc_stage3_macho_llvm
/selfhost_macho_llvm_stage1/
/selfhost_macho_llvm_stage2/
/selfhost_macho_llvm_stage3/
_libc_io_tmp.txt
parser_tinyc
build_tinyc/
examples/tinyc/tests/*.macho
/tinyc_native_opt
/tinyc_upstream_opt
/build_opt_native/
/build_opt_upstream/
/bench_tinyc_out/
/bench_stage/
/bench_objs/
/verify_tinyc_out/
examples/tinyc/__pycache__/
/bench_frozen/
